body {
    margin: 60px auto;
    width: 70%;
}
a {
    text-decoration: none;
    color: #999; /* darker grey */
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333; /* grey */
}
footer {
    border-top: 1px solid #d5d5d5; /* grey */
    font-size: .8em;
}
pre.highlight {
    font-size:18px;
    /* background: #fffbdd;  light yellow */
    background: #efecec;
}
div.highlight {
    font-size:18px;
    background: #7e0b0b; /* dark red */
}
