<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/exp01.css">
			<style>
				div.highlight {
					font-size: 20px;
					background: #fffbdd;
				}
			</style>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:c.strange.451@gmail.com">email</a></li>
	        		<li><a href="https://github.com/poly451">github.com/poly451</a></li>
				</ul>
			</footer>
		</body>
	</html>
